<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Welcome to Facebook!</p>

      <p>You're registration is almost complete</p>

      <br/>
      <p>Click on the button below to finish your registration.</p>

      <a href="{{ link }}" target="_blank" class="button">Activate my account</a>
    </div>
  </body>
</html>
